@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://www.univo.edu.sv/wp-content/uploads/2019/12/1-4.jpg" class="img-fluid" alt="...">
</div>
